.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
    border-BOTTOM: 2px solid;
    padding: 60px;
    background-color: rgb(0, 52, 120);
    
}

.bannertext{
    font-size: 3em;
    font-weight: 500;
    color: white;
    
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
     margin-top: 6%;
      gap: 3em;
}
.Prompt{
     color: rgb(0, 0, 0);
    size: 10em;

    font-size: 2.2em;
    background-color: rgba(76, 73, 243, 0);
}

.Nameselect{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}

.RemoveButton{
   
    width: 30em;
    height: 5em;
}




.footer{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 52, 120);
    margin-top: 21%;
    border-top: 2px solid;
    gap: 2em;
    
}

.creed{
    flex: 1;        /* takes up remaining space */
    text-align: center;
    color: white;
    font-size: 20px;
}