.Screen{
    display: flex;
    flex-direction: column;
    
    
}
.banner{
    display: flex;
    justify-content: center;
     align-items: center;  
    flex-direction: row;
    margin-top: 0%;
    border-BOTTOM: 2px solid;
    padding: 10px;
    background-color: rgb(0, 52, 120);
}
.bannertext{
    font-size: 3em;
    font-weight: 500;
    color: white;
    flex: 1; /* takes all available space */
    
}
.banner-profile {
  width: 3%;
  height: auto;         /* let the image scale correctly */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  display: block;       /* safe for images */
  padding: .5%;
  margin-left: auto;
}
.Screen{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.Sidebar{
    display:flex;
    flex-direction: column;
    margin-top:0%;
    width: 15%;
    min-height: 100vh; /* lowest allowed height */
    height: auto;
    background-color: rgb(0, 52, 120);
   /* border: 2px solid;
    border-color: black;*/
    color:white;
}
.TNGen{
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    padding-bottom: 20%;
    font-size: 150%;
    justify-content: space-between;
   
    border: 2px solid;
    border-color: black;
}
.header{
    padding: 5%;
}

.workingspace{
    display:flex;
    flex-direction: column;
    width: 100%;
}
.projectbuttons{
    display: flex;
    justify-content: space-between;
    padding: 2%;
}
.row{
    display: flex;
    justify-content: space-around;
}
.content{
     display: flex;
     flex-direction:column;
}
.preview{
    display: flex;
    flex-direction: column;
    font-size: 160%;
    padding: 2%;
    
}
.previewhead{
    font-size: 120%;
    padding-top: 1.5%;
}
.Waiting{
    font-size: 170%;
    padding: 5%;
}
.WarnIcon{
    font-size: 50px !important;
    width: 50px;
    height: 50px;
    color: red
}
.warningmsg{
    
    padding-top: 60px;
    padding-bottom: 40px;
    border: 2px solid;
    
}
.ToolNumberDis{
    display: flex;
    font-size: 120%;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.INV{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}