.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 0%;
    border-BOTTOM: 2px solid;
    padding: 60px;
    background-color: rgb(0, 52, 120);
    
}

.bannertext{
    font-size: 3em;
    font-weight: 500;
    color: white;
    
}

.NameInp{
    display: flex;
    gap: 10%;
    justify-content: center;
}
.FirstName{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    gap: 1em;
    


}
.FirstNamePrompt{

    color: rgb(0, 0, 0);
    size: 10em;
    font-size: 1.8em;
    background-color: rgba(76, 73, 243, 0);
    gap: 10em;
}

.LastName{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    gap: 1em;


}
.LastNamePrompt{

    color: rgb(0, 0, 0);
    size: 10em;
    font-size: 1.8em;
    background-color: rgba(76, 73, 243, 0);
    gap: 10em;
}

.LmNum{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
    gap: 1em;


}
.LmNumPrompt{
    color: rgb(0, 0, 0);
    size: 10em;
    font-size: 1.8em;
    background-color: rgba(76, 73, 243, 0);
    gap: 10em;
}

.submit{
    display:flex;
    flex-direction: column;
    margin-top: 5%;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.SubmitButton{
    display: flex;
    width: 20%;
    
    
    

}


.footer{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(0, 52, 120);
    margin-top: 11.4%;
    border-top: 2px solid;
    
}

.creed{
    flex: 1;        /* takes up remaining space */
    text-align: center;
    color: white;
    font-size: 20px;
}
.testing{
    display:flex;
    flex-direction: column;
}

