.Screen{
    display: flex;
    height: 100vh;
}
.banner{
    display: flex;
    justify-content: center;
     align-items: center;  
    flex-direction: row;
    margin-top: 0%;
    border-BOTTOM: 2px solid;
    padding: 10px;
    background-color: rgb(0, 52, 120);
    flex: 1; /* takes all available space */
    
}

.bannertext{
    font-size: 3em;
    font-weight: 500;
    color: white;
    flex: 1; /* takes all available space */
    
}
.banner-profile {
  width: 3%;
  height: auto;         /* let the image scale correctly */
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid white;
  display: block;       /* safe for images */
  padding: .5%;
  margin-left: auto;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%
}
.row{
    display: flex;
    margin-top: 2%;
    gap: 5%;
    justify-content: center;
}
.Item{
    font-size: 150%;
    flex: 1;
}
.buttons{
    display: flex;
    justify-content: space-around;
    padding: 10%;
}
